.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

body {
    font-family: Verdana, sans-serif;
    font-size: 18px;
    line-height: 1.72222;
    color: #333333;
    background-color: #eee;
}

h1, h2 {
    font-family: "Georgia", Times, serif;
}

a {
    color: #1976D2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    display: block;
    max-width: 100%;
}

p {
    margin: 2em 0;
    line-height: 30px;
}

iframe {
    width: 100%;
    min-height: 600px;
    border: 1px solid #dddddd;
}

figure {
    margin: 2em 0;
}
figure img {
    border: 1px solid #dddddd;
}
figcaption {
    font-style: italic;
    margin: 1em auto 0 auto;
    max-width: 600px;
}

.hidden {
    opacity: 0;
}

.menu {
    width: 150px;
    height: 150px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2
}

.menu:hover .menu-button {
    transform: scale(1.1);
    text-decoration: none;
}

.menu-button {
    display: block;
    text-align: center;
    color: #034485;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 50px;
    font-family: "Georgia", Times, serif;
    font-style: italic;
    margin: 25px;
    transition: transform .1s ease-in-out;
    background: none;
    border: 2px solid #034485;
}

.menu-button:focus {
    outline: none;
}

.menu-content {
    width: 200vw;
    height: 200vh;
    position: fixed;
    padding: 25px 75px 75px 300px;
    box-sizing: border-box;
    transform: scale(.5);
    transform-origin: 0 0;
    overflow-y: auto;
}

.menu-content .page {
    box-sizing: border-box;
    background-color: #ffffff;
    width: calc(50% - 50px);
    height: 100vh;
    margin: 25px;
    float: left;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: box-shadow .2s ease-in-out;
}

.menu-content .page:hover {
    box-shadow: 0 0 0 4px #034485;
}

.menu-content .page > a {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
}

.animated {
    box-sizing: border-box;
    background-color: #ffffff;
    transform-origin: 0 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    transition: all .5s ease-in-out;
    display: none;
}
.animated.show {
    display: block;
}

.content {
    position: absolute;
    top: 0;
    z-index: 1;
    min-height: 100vh;
    width: 100%;
    background: #ffffff;
    transition: 100ms ease;
    display: none;
    box-sizing: border-box;
}
.content.show {
    display: block;
}

.container {
    margin: 0 auto;
    max-width: 600px;
}


/* contact page */

.contact nav {
    clear: right;
    counter-reset: nav;
}

.contact nav a {
    display: block;
    border-top: 1px solid #dddddd;
    padding: 25px 0;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

.contact nav a:before {
    counter-increment: nav;
    content: counter(nav) ". ";
}

.contact nav a:hover {
    color: #034485;
    text-decoration: none;
}